html, body {
	background-color: #dbdbdb;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 1000; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.map {
	height: auto;
	width: 100%;
	padding-bottom: 0px;
	z-index: 2;
}

.top_block {
	width: 100%;
	display: block; 
}

.header {
	width: 100%;
	height: 50px;
	background-color: #1b1b1b;
}

.logos {
	position: absolute;
	left: 70px;
	top: 10px;
	height: 100px;
	width: auto;
	background-color: transparent;
	z-index: 5000;
}

.background.map {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 100%;
	background-color: #dbdbdb;
	margin-top: 50px; 
}

.logo {
	float: left;
	width: 100px;
	height: 100px;
	background-image: url(../img/i3.png);
	margin-top: 0px; 
	margin-left: 0px; 
}

.logo a {
	display:block;
	height:100%;
	z-index: 5000 !important;
}

.logo2 {
	float: left;
	width: 110px;
	height: 100px;
	background-image: url(../img/fhtechnik.png);
	margin-top: 0px; 
	margin-left: 10px; 
}

.logo2 a {
	display:block;
	height:100%;
}

.obm {
	float: left; 
	width: 400px;
	height: 25px;
	background-color: #1b1b1b;
	margin-top: 7px; 
	margin-left: 25px; 
	color: #dbdbdb; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size:14px; 
	text-align: left;
}

.link1 {
	float: right; 
	width: 50px;
	height: 20px;
	background-color: #1b1b1b;
	margin-top: 18px; 
	margin-left: 10px; 
	color: #dbdbdb; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	text-align: left;
}

.link2 {
	float: right; 
	width: 50px;
	height: 20px;
	background-color: #1b1b1b;
	margin-top: 18px; 
	margin-right: 50px; 
	color: #dbdbdb; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	text-align: left;
}

.search {
	float: right; 
	width: 150px;
	height: 20px;
	background-color: #1b1b1b;
	margin-top: 15px; 
	margin-right: 10px; 
}

.lupe {
	float: right; 
	width: 20px;
	height: 20px;
	background-image: url(../img/i3_icon_lupe.png);
	margin-top: 15px; 
	margin-right: 50px; 
}

.lupe a {
	display:block;
	height:100%;
}

.searchinput {
	background-color: #dbdbdb;
	width: 150px;
	height: 20px;
	border: 0;
	font-family: Courier New, Courier, monospace;
	padding-left: 5px;
}

a.header:link { color:#dbdbdb !important; text-decoration:none; }
a.header:visited { color:#dbdbdb !important; text-decoration:none; }
a.header:focus { color:#dbdbdb !important; text-decoration:none; }
a.header:hover { color:#dbdbdb !important; text-decoration:none; }
a.header:active { color:#dbdbdb !important; text-decoration:none; }

a.box:link { color:#1b1b1b !important; text-decoration:underline; }
a.box:visited { color:#1b1b1b !important; text-decoration:underline; }
a.box:focus { color:#1b1b1b !important; text-decoration:underline; }
a.box:hover { color:#1b1b1b !important; text-decoration:underline; }
a.box:active { color:#1b1b1b !important; text-decoration:underline; }

#map:-webkit-full-screen { width: 100% !important; height: 100% !important; }
#map:-moz-full-screen { width: 100% !important; height: 100% !important; }
#map:full-screen { width: 100% !important; height: 100% !important; }
.leaflet-control-zoom-fullscreen { background-image: url(../img/icon-fullscreen.png); }
.leaflet-control-zoom-fullscreen.last { margin-top: 5px }

.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}

form { 
	width: 15em; 
	border-style:none; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:24px; 
	text-align:center; 
	background: white; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

form.info { 
	width: 15em; 
	border-style:none; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:24px; 
	text-align:center; 
	background: white; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

form.info2 { 
	width: 30em; 
	border-style:none; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size:20px; 
	text-align:left; 
	background: white; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

input.left {
	background-color: #dbdbdb;
	border: 0;
	height: 1.5em;
	font-family: Courier New, Courier, monospace;
	text-align: left;
	margin-bottom: 2em; 
	width: 85%;
}

input.center {
	background-color: #dbdbdb;
	border: 0;
	height: 1.5em;
	font-family: Courier New, Courier, monospace;
	text-align: center;
	margin-bottom: 2em; 
	width: 85%;
}